form.form(
	id='form'
	name='form'
	role='form'
	method='POST'
	action=''
)
	// row
	.form__row
		h3.form__title Personal information

		.form__field
			.form__group
				label.form__label(for='fname') First name

				input.form__input(
					type='text'
					name='fname'
					id='fname'
					placeholder='First name'
					required
				)

				span.form__error-msg First name required

			.form__group
				label.form__label(for='lname') Last name

				input.form__input(
					type='text'
					name='lname'
					id='lname'
					placeholder='Last name'
					required
				)

				span.form__error-msg Last name required

	// row
	.form__row
		h3.form__title Contact information

		.form__field
			.form__group
				label.form__label(for='email') Email for receipt

				input.form__input(
					type='email'
					name='email'
					id='email'
					placeholder='Email for receipt'
					required
				)

				span.form__error-msg Email required

			.form__group
				label.form__label(for='phone') Phone numbers

				input.form__input(
					type='tel'
					name='phone'
					id='phone'
					placeholder='Phone numbers'
					required
				)

				span.form__error-msg Phone numbers required

		.form__field
			.form__group
				label.form__label(for='country') Country

				.form__wrap
					select.form__select(
						name='country'
						id='country'
						required
					)
						option(value='', selected, disabled, hidden) Select region
						optgroup(label='Eastern Europe')
							option(value='Poland') Poland
							option(value='Ukraine') Ukraine
							option(value='Romania') Romania
							option(value='Bulgaria') Bulgaria
							option(value='Czech Republic') Czech Republic
							option(value='Latvia') Latvia
							option(value='Lithuania') Lithuania
							option(value='Estonia') Estonia
						optgroup(label='Latin America')
							option(value='Mexico') Mexico
							option(value='Colombia') Colombia
							option(value='Brazil') Brazil
							option(value='Costa Rica') Costa Rica
							option(value='Guatemala') Guatemala
							option(value='Ecuador') Ecuador
							option(value='Uruguay') Uruguay

					span.form__error-msg Country required

			.form__group
				label.form__label(for='address') Address

				input.form__input(
					type='text'
					name='address'
					id='address'
					placeholder='Address'
					required
				)

				span.form__error-msg Address required

	// row
	.form__row
		h3.form__title Payment details

		.form__field.form__field--diff
			.form__group.form__group--card
				label.form__label(for='card') Credit card

				input.form__input(
					type='tel'
					name='card'
					id='card'
					placeholder='Credit card'
					required
				)

				span.form__error-msg Credit card required

			.form__group.form__group--cvv
				label.form__label(for='cvv') CVV2 code

				input.form__input(
					type='tel'
					name='cvv'
					id='cvv'
					placeholder='CVV2 code'
					required
				)

				span.form__error-msg CVV2 code required

		.form__checkbox
			input.form__checkbox-input(
				type='checkbox'
				name='checkbox'
				id='checkbox'
				required
			)

			label.form__checkbox-label(for='checkbox') Agreement with terms of use

			span.form__error-msg Need to confirm

	.form__row
		button.form__btn(
			type='submit'
			name='submitBtn'
		) Submit
			span.form__loading
				- for (i = 0; i < 3; i++)
					span.form__loading-item
